<div class="container-fluid">
    {{> header}}

    <div class="row-fluid">
        <div class="span2">

        </div>
        <div class="span8">
            <div class="ui-console">

            </div>
        </div>
        <div class="span2">

        </div>
    </div>
</div>